* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    background: darkcyan;
    align-items: center;
}

header .links {
    display: flex;
    gap: 20px;
}

.links a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    z-index: 1;
    cursor: pointer;
}

.links a::after {
  content: '';
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: scale(0);
  transition: .5s ease;
  scale: 1.5;
  z-index: -1;
}

.links a:hover::after {
  transform: scale(1);
}

header .logo {
  color: #fff;
  font-size: 2rem;
}

.get {
  width: 150px;
  height: 45px;
  background: #000;
  color: #fff;
  border-radius: 10px;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  transition: .5s ease;
}

.get:hover {
  padding-left: 20px;
}

.page-one {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.page-one .image {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.page-one .image img {
    width: 80%;
    z-index: 1;
}

.text {
    position: absolute;
}

.text h2 {
    font-family: "Anton", sans-serif;
    font-size: 10rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1rem;
    text-shadow: 0 0 10px #333, 0 0 20px #333, 0 0 40px #333, 0 0 80px #333;
}

.wrapper{
    position: absolute;
    bottom: 0;
    width: 90%;
    margin: auto;
    height: 100px;
    display: flex;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1)80%, rgba(0, 0, 0, 0));
    overflow: hidden;
}

.wrapper .box{
    width: 200px;
    height: 100%;
    border-radius: 10px;
    animation-name: scrol;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 30s;
    position: absolute;
    left: max(calc(200px * 8), 100%);
    cursor: pointer;
}

@keyframes scrol {
    to{
        left: -200px;
    }
}

.item1{
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
    background: url('img/bmw\ \(1\).png');
    background-position: center;
    background-size: cover;
}
.item2{
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
    background: url('img/bmw\ \(2\).png');
    background-position: center;
    background-size: cover;
}
.item3{
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
    background: url('img/bmw\ \(3\).png');
    background-position: center;
    background-size: cover;
}
.item4{
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
    background: url('img/bmw\ \(4\).png');
    background-position: center;
    background-size: cover;
}
.item5{
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
    background: url('img/bmw\ \(5\).png');
    background-position: center;
    background-size: cover;
}
.item6{
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
    background: url('img/bmw\ \(6\).png');
    background-position: center;
    background-size: cover;
}
.item7{
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
    background: url('img/bmw\ \(7\).png');
    background-position: center;
    background-size: cover;
}
.item8{
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
    background: url('img/bmw\ \(8\).png');
    background-position: center;
    background-size: cover;
}

.three-pages {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.one {
    background: #f4f4f4;
    margin-top: 50px;
}

.one h2, .one p {
    color: #000;
}

.two {
    background: #00617a;
}
.two h2, .two p {
    color: #fff;
}

.three {
    background: #333;
}

.three h2, .three p {
    color: #fff;
}

.left, .right {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .image-one {
    width: 90%;
    height: 50%;
}

.image-one img {
    width: 100%;
    height: 100%;
}

.right {
    display: flex;
    justify-content: flex-start;
}

.side {
    display: flex;
    justify-content: center;
}

.right .details h2{
    font-size: 5rem;
}

.right .details p {
    font-size: 1rem;
}